table.vmCustomCategories td:hover img { border-color: #888 }

.logo{
margin-top:30px;}
#top_info {
margin-left:-50px;}

.td_bg { clear: both; }

.vm_main_info { clear: both; margin: 25px 0 }
.vm_main_info div.lf { border: 1px solid #d1d1d1; padding: 10px; margin-right: 4%; overflow: hidden; text-align:center; }
.vm_main_info div.lf img { margin-bottom: 15px; display:block; border-radius: 12px;}
.vm_main_info div.rcolumn { width: auto; overflow: hidden }
.vm_main_info div.lf a { display:block; text-indent: -999em; background:transparent url('../images/product_zoom.png') no-repeat right bottom; padding-bottom: 24px; font-size: 0!important;}

.vmCartContainer { clear: both; width: 100%; background: none; border: none; float: none; padding: 0; }
.vmCartContainer input.inputboxquantity { color: #666; font-weight: bold; width: 28px; padding: 2px; margin-right: 6px; }

.vmCartAttributes { /* Attributes Div*/ width:110%; }
.vmAttribChildDetail {  /* Product Attributes Styling */ text-align: left!important; margin-right: 10px; line-height: 25px }

.vmAttribChildDetail select { margin-right: 0px; }

/* The quantity box beneath the "add to cart" button  */
.quantity_box_button { width:17px; height:17px; border: none; cursor: pointer; vertical-align: middle; margin-top: 3px }
.quantity_box_button_down,
.quantity_box_button_up { background: url('../images/vm/quantity_box_button.png') no-repeat 0 0 !important; }
.quantity_box_button_up { background-position: 100% 0!important; }
/* Resctrictions */

.fprod_con a:hover { color: #202020; }

#vmMainPage .vmMainPage2 a:hover { color: #000}


/** major ****************************************************************/

/* Add to cart button 
-----------------------------------------------------------------------------*/
.addtocart_button,
 .notify_button { border: none; cursor:pointer; background: none; width: 100px; text-align:left; height:30px; font-weight:bold; font-family:inherit; vertical-align: middle; overflow:hidden; }
input.addtocart_button { cursor:pointer; margin:0 0 0 4px; padding:3px 6px; text-align:center; text-decoration:none; text-transform:uppercase; } 
input:hover.addtocart_button { }
.moduletable input.addtocart_button { height: inherit }
.vmCartContainer input.addtocart_button { display: block; width:auto; }
.vmCartContainer input.addtocart_button { }
.vmCartContainer input:hover.addtocart_button { }
/* The PDF, Email and Print buttons 
-----------------------------------------------------------------------------*/

/* The Pagination 
-----------------------------------------------------------------------------*/
ul.pagination li { padding: 2px 1px; display: inline; background: none; }

#gk-container .mainlevel,
#gk-container .sublevel, .moduletable_content .mainlevel { border-bottom:1px solid #eee; background:transparent url('../images/menu_item.png') no-repeat 10px 12px; padding:0 10px 0 32px; margin:0 -10px; line-height: 32px; font-size: 12px;}

#gk-container a:hover.mainlevel,
#gk-container a:hover.sublevel { color:#000; text-decoration: none; }

#gk_product_tabs li:hover,
#gk_product_tabs li.gk_product_tab_active { color: #fff; cursor: pointer}


/* added rules */
.addtocart_button { width:auto!important; display:block; padding-left:34px!important; line-height: 20px!important;}
.vmCartContainer {border:none!important;padding:0!important; overflow:hidden; margin-bottom: 20px; width:100%!important; clear:both; border:1px solid #d1d1d1!important; }
.vmCartContainer form { margin:0 0 0 6px!important;width:auto!important; }

.addtocart_form { display:block!important; overflow:hidden; padding:11px 0 11px 5px; }
.addtocart_form > div { float: left!important; }
.addtocart_form .quantity_box_button { float:left; height: 22px!important; margin-top:8px!important; margin-left:3px; }
.addtocart_form .inputboxquantity,
.addtocart_form .quantity_box{float:left;}
.addtocart_form .quantity_box {margin-top:7px;}
.addtocart_form .addtocart_button { margin-top:6px; margin-left:10px;}
.addtocart_form .inputboxquantity { height:22px!important; margin-top:6px!important; }
#comment{ height:140px;}

